Flask
fastapi
Faker
python-dotenv
tenacity
openai
flasgger
fastmcp
autogen-ext[mcp]
autogen-agentchat
tiktoken
tornado
uvicorn
streamlit
pydantic


semantic-kernel == 1.0.1
openai
python-dotenv
aiohttp
requests
